ul {
  list-style: none;
}
#main {
  width: 1000px;
  height: 1000PX;
  margin: 0 auto;
  background-color: antiquewhite; 
}
#main  #map {
  display : block;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  float :right;
}

#main #dropdown{
  border: 1px solid red;
  display : block;
  width: 190px;
  height: 500px;
  margin: 0 auto;
  float :left;
}